/ {
        chosen {
                bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rw uio_pdrv_genirq.of_id=generic-uio";
                stdout-path = "serial0:115200n8";
        };


        memory@0 {
                device_type = "memory";
                reg = <0x0 0x10000000>;
        };

	leds {
                compatible = "gpio-leds";

		led-green {
                        label = "led-green";
			gpios = <&gpio0 55 1>;
			default-state = "off";
                        linux,default-trigger = "heartbeat";
		};
		led-red {
                        label = "led-red";
			gpios = <&gpio0 54 1>;
			default-state = "off";
		};
        };

        buttons {
                compatible = "gpio-keys-polled";
                poll-interval = <100>;

                s2-button {
                        gpios = <&gpio0 20 1>;
                        label = "s2-button";
                        default-state = "keep";
                        linux,code = <106>;
                        autorepeat;
                };
                s3-button {
                        gpios = <&gpio0 32 1>;
                        label = "s3-button";
                        default-state = "keep";
                        linux,code = <105>;
                        autorepeat;
                };
        };
};

&uart1 {
       status = "okay";
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0x0>;
	};
};

&sdhci0 {
        status = "okay";
};

&gpio0 {
        gpio-mask-low = <0x5600>;
};

&smcc {
	status = "okay";
	nand0: flash@e1000000 {
                status = "okay";
                nand-ecc-mode = "none";
                nand-bus-width = <8>;
                partitions {
        		compatible = "fixed-partitions";
        		#address-cells = <1>;
        		#size-cells = <1>;

                        partition0: partition@0 {
        		         label = "partition0";
                                 reg = <0x0000000 0x1ffffff>;
                        };
                        partition1: partition@2000000 {
        		         label = "partition1";
                                 reg = <0x2000000 0x3ffffff>;
                        };
                        partition2: partition@4000000 {
        		         label = "partition2";
                                 reg = <0x4000000 0x5ffffff>;
                        };
                        partition3: partition@6000000 {
        		         label = "partition3";
                                 reg = <0x6000000 0x7ffffff>;
                        };
                };
        };
};

&xadc_wiz_0 {
		xlnx,channels {
			#address-cells = <1>;
			#size-cells = <0>;
			channel@3 {
				reg = <3>;
			};
			channel@11 {
				reg = <11>;
			};
		};
};

&axi_mux_0 {

  signal-names = "gpio0.0", "gpio0.1", "gpio0.2", "gpio0.3",
                 "gpio0.4", "gpio0.5", "gpio0.6", "gpio0.7";
  alternate-names = "i2c0.sda", "i2c0.scl", "spi0.io0", "spi0.io1",
                    "spi0.ss", "tmr0.pwm_cap0", "tmr1.pwm_cap0", "tmr2.pwm_cap0";

};

&axi_mux_1 {

  signal-names = "gpio0.8", "gpio0.9", "gpio0.10", "gpio0.11",
                 "gpio0.12", "gpio0.13", "gpio0.14", "gpio0.15";
  alternate-names = "uart0.rxd", "uart0.txd", "uart1.rxd", "uart1.txd",
                    "i2c1.sda", "i2c1.scl", "tmr3.pwm_cap0", "tmr3.cap1";

};

&axi_timer_0 {
  clock-frequency = <100000000>;
};

&axi_timer_1 {
  clock-frequency = <100000000>;
};

&axi_timer_2 {
  clock-frequency = <100000000>;
};

&axi_timer_3 {
  clock-frequency = <100000000>;
};
